# bin txt files
*.bin
*.txt
*.kml
*.kmz

# figures
*.png
*.jpg
*.pdf

#folders
fig/
inp/
out/
results/

# fortran excutables
src/allocate_VS
src/altimetry_rivermap
src/altimetry_rivermap.f90
src/set_name
src/print_rivvec
src/print_rivvec.o
src/txt_vector
src/txt_vector.o
src/regional_biftag

# .so .pyc
*.so
*.pyc

# PBS
Riv_Map.o*
Alti_VS.o*
Comm_VS.o*
Alng_Riv.o*
MK_netCDF.o*
MK_netCDF_inter.o*
MK_netCDF_elediff.o*
Alloc_VS.e*
Alloc_VS.o*
Unreal_VS.o*

# VScode
*.vscode
.nfs000000178c31913100002d9a